extends layout

block content
  .lyear-layout-web
    .lyear-layout-container
      // 左侧导航
      aside.lyear-layout-sidebar
        //  logo 
        #logo.custom-header
          a
            img(src="images/logo-sidebar"+daytime+".webp", title="Makoto-Genshin-Wish", alt="Makoto-Genshin-Wish")
        .lyear-layout-sidebar-info.lyear-scroll
          nav.sidebar-main
            ul.nav-drawer
              li.nav-item.active
                a.multitabs#default-page(href="/main")
                  i.mdi.mdi-card-search-outline
                  span 祈愿
              li.nav-item.nav-item-has-subnav
                a.multitabs(href="javascript:void(0)")
                  i.mdi.mdi-panorama-sphere
                  span 原神下载
                ul.nav.nav-subnav
                  li
                    a.multitabs(href="/404.html") 客户端
                  li
                    a.multitabs(href="/404.html") 服务端
              li.nav-item.nav-item-has-subnav
                a.multitabs(href="javascript:void(0)")
                  i.mdi.mdi-panorama-sphere
                  span 崩铁下载
                ul.nav.nav-subnav
                  li
                    a.multitabs(href="/404.html") 客户端
                  li
                    a.multitabs(href="/404.html") 服务端
                //-   li
                //-     a.multitabs(href="/404.html") 添加账号
                //-   li
                //-     a.multitabs(href="/404.html") 账号管理
                //-   li
                //-     a.multitabs(href="/404.html") 指令操作
              
                  
          .sidebar-footer.text-center
            p.copyright
              span Copyright © 2024. 
              a(target="_blank", href="https://blog.ciy.cool" alt="MakotoArai") MakotoArai
              span All rights reserved.
            p !{type}
              br
              span(title='版本：' + version) 项目地址:
              a(href="https://gitee.com/MakotoArai-CN/Makoto-Genshin-Wish-Analysis-Prod" target="_blank" title="本项目完全开源项目，欢迎各位开发者参与贡献") Gitee &emsp;|&emsp;
              a(href="https://github.com/MakotoArai-CN/Makoto-Genshin-Wish-Analysis-Prod" target="_blank" title="本项目完全开源项目，欢迎各位开发者参与贡献") GitHub
              br
              span 
              a(href="https://qm.qq.com/q/UPynQaekEk" target="_blank" title="QQ群：475168234") 加入官方QQ群&emsp;&emsp;
      // End 左侧导航
      // 头部信息
      header.lyear-layout-header
        nav.navbar
          .navbar-left
            .lyear-aside-toggler
              span.lyear-toggler-bar
              span.lyear-toggler-bar
              span.lyear-toggler-bar
          span#UID_or 愿您祈愿连金！
          ul.navbar-right.d-flex.align-items-center
            // End 顶部消息部分
            // 切换主题配色
            li.dropdown.dropdown-skin
              span.icon-item(data-bs-toggle="dropdown")
                i.mdi.mdi-palette.fs-5
              ul.dropdown-menu.dropdown-menu-end(data-stoppropagation="true")
                li.lyear-skin-title
                  p 主题
                li.lyear-skin-li.clearfix
                  .form-check.form-check-inline
                    input.form-check-input#site_theme_1(type="radio", name="site_theme", value="default", checked)
                    label.form-check-label(for="site_theme_1")
                    input.form-check-input#site_theme_8(type="radio", name="site_theme", value="dark")
                    label.form-check-label(for="site_theme_8")
            // End 切换主题配色
            // 个人头像内容
            li.dropdown
              span.dropdown-toggle(href="javascript:void(0)", data-bs-toggle="dropdown")
                img.avatar-md.rounded-circle(
                    src="images/users/avatar.webp",
                    srcset="images/users/avatar-small.webp 480w,images/users/avatar-medium.webp 768w,images/users/avatar-large.webp 1024w",
                    sizes="(max-width: 640px) 480px,(max-width: 960px) 768px,1024px",
                    alt="avatar"
                  )
                span#username.text-indigo(style="margin-left: 10px;") 刻晴
              ul.dropdown-menu.dropdown-menu-end
                li
                  button.multitabs.dropdown-item(onclick="localStorage.removeItem('UID');location.href = '/';")
                    i.mdi.mdi-account
                    span 切换账号
                //- li
                //-   select#role.form-select(name="role") 
                //-     option(value="1" selected) 管理员
                //-     option(value="2") 普通用户
                  //- a.multitabs.dropdown-item(data-url="lyear_pages_edit_pwd.html", href="javascript:void(0)")
                  //-   i.mdi.mdi-lock-outline
                  //-   span 修改密码
            //-     li
            //-       a.dropdown-item(href="javascript:void(0)")
            //-         i.mdi.mdi-delete
            //-         span 清空缓存
            //-     li.dropdown-divider
                //- li
                //-   a.dropdown-item(href="lyear_pages_login_1.html")
                //-     i.mdi.mdi-logout-variant
                //-     span 退出登录
            // End 个人头像内容
      // End 头部信息
      // 页面主要内容
      main.lyear-layout-content
        #iframe-content
      // End 页面主要内容
  script(type="text/javascript", src="js/jquery.min.js")
  script(type="text/javascript", src="js/popper.min.js")
  script(type="text/javascript", src="js/bootstrap.min.js")
  script(type="text/javascript", src="js/perfect-scrollbar.min.js")
  script(type="text/javascript", src="js/bootstrap-multitabs/multitabs.min.js")
  script(type="text/javascript", src="js/jquery.cookie.min.js")
  script(type="text/javascript", src="js/index.min.js")
  script(type="text/javascript").
    
    $(document).ready(function(e) {
    });
    